  <%= render 'banner' %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail|%>
        <div class="col-xs-4">
          <div class="card">
            <%= image_tag "https://#{cocktail.picture}",class: 'card-picture' %>
            <h3>
                <%= cocktail.name %>
            </h3>


          </div>
          <%=link_to "", cocktail_path(cocktail), class: "card-link"%>
        </div>
      <%end%>
    </div>
  </div>
</div>



