.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding: 10px 0;
  text-align: center;

  h3 {
    padding:0px;
    margin:0;
      line-height: 245px;
  }
}
.card-cocktail-picture {
  height:100%;
  width:100%;
  background-size: cover !important;
  background-position: center;
}
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all ease 300ms;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
}
